/* FONTS */
/* 
font-family: 'Expletus Sans', cursive;
font-family: 'Familjen Grotesk', sans-serif;
font-family: 'Fira Code', monospace;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Iceberg', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Jost', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Familjen+Grotesk:wght@400;500;600;700&family=Fira+Code:wght@400;500;600;700&family=Fira+Sans+Condensed:wght@400;500;600;700&family=Fjalla+One&family=Iceberg&family=Inter:wght@300;400;500;600;700&family=Jost:wght@400;500;600;700&display=swap');

/* Colors */
:root{
    --dark: #000000;
    --dark-grey: #20252A;
    --primary-green: #38BC7C;
    --secondary-green: #2B7D56;
    --terciary-green: #005F1D;
    --light: #FFFFFF;
}

/* Header */
header{
    font-family: 'Expletus Sans', cursive;
    font-size: 1.75rem;  
    background-color: var(--dark-grey);
}

header .button-container a{
    font-size: 1.5rem;
    background-color: var(--secondary-green);
}

/* Footer */
footer{
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Inter', sans-serif;
}

footer .image-container{
    border-right: 1px solid var(--light);
}

footer p{
    font-size: 0.87rem;
    font-weight: 500;
}

footer span{
    font-size: 0.75rem;
    font-weight: 400;
}