/* FONTS */
/* 
font-family: 'Expletus Sans', cursive;
font-family: 'Familjen Grotesk', sans-serif;
font-family: 'Fira Code', monospace;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Iceberg', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Jost', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Familjen+Grotesk:wght@400;500;600;700&family=Fira+Code:wght@400;500;600;700&family=Fira+Sans+Condensed:wght@400;500;600;700&family=Fjalla+One&family=Iceberg&family=Inter:wght@300;400;500;600;700&family=Jost:wght@400;500;600;700&display=swap');

/* Colors */
:root{
    --dark: #000000;
    --dark-grey: #20252A;
    --primary-green: #38BC7C;
    --secondary-green: #2B7D56;
    --terciary-green: #005F1D;
    --light: #FFFFFF;
}
/* Body */
body{
    height: fit-content;
}


/* Header */
header{
    font-family: 'Expletus Sans', cursive;
    font-size: 1.75rem;  
    background-color: var(--dark-grey);
}

header .button-container a{
    font-size: 1.5rem;
    background-color: var(--secondary-green);
}

/* Main Landing Page*/
main h1{
    font-family: 'Iceberg', cursive;
    color: var(--terciary-green);
    font-weight: 400;
    font-size: 4rem;
    margin-top: 15px;
    margin-bottom: 0;
}

#sub-titulo{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 2.6rem;
    color: var(--dark);
}

#coluna-texto1{
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 2rem;
}

#coluna-texto2{
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-right: 2rem;
}

#button{
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    background-color: var(--secondary-green);
    color: var(--dark-grey);
    border: none;
    border-radius: 20px;
    margin-bottom: 1rem;
    box-shadow: 0px 5px 15px var(--dark-grey);
}

/* Main Services */
.card-container{
    width: 300px;
    border-radius: 20px;
}

.card-header-container{
    font-family: 'Expletus Sans', cursive;
    background-color: var(--dark);
    height: 100px;
    color: var(--light);
    border-top-right-radius: 30px ;
    border-top-left-radius: 40px;
}

.card-corpo{
    font-family: 'Familjen Grotesk', sans-serif;
    background-color: var(--primary-green);
    height: 300px;
}

.card-footer-container{
    font-family: 'Fira Sans Condensed', sans-serif;
    height: 100px;
    background-color: var(--secondary-green);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.li{
    color: var(--dark);
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 1.3rem;
}

.botao-container{
   font-family: 'Fira Sans Condensed', sans-serif;
   height: 40px;
   font-size: 1.7rem;
   background-color: var(--light);
   border-radius: 20px;
   color: var(--dark);
}

.card-inferior{
   width: 650px;
   font-family: 'Fira Sans Condensed', sans-serif;
   background-color: var(--primary-green);
   border-radius: 20px;
   color: var(--dark);
}

/* Main Login */
.form-container{
    width: 500px;
    height: 430px;
    margin: 0 auto;
}

.login{
    font-family: 'Fira Code', monospace;
    font-size: 1.7rem;
    color: var(--terciary-green);
}

.email{
    font-family: 'Fira Code', monospace;
    font-size: 1.2rem;
    width: 400px;
}

.senha{
    font-family: 'Fira Code', monospace;
    font-size: 1.2rem;
    width: 400px;
}

.recupera-senha{
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    color: var(--terciary-green);
}

.botao-login{
    font-family: 'Fira Code',  monospace;
    font-size: 1.5rem;
    background-color: var(--primary-green);
    box-shadow: 0px 5px 15px var(--dark-grey);
    width: 200px;
    margin-left: 140px;
}

/* Footer */
footer{
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Inter', sans-serif;
    margin-top: 5.37rem;
}

footer .image-container{
    border-right: 1px solid var(--light);
}

footer p{
    font-size: 0.87rem;
    font-weight: 500;
}

footer span{
    font-size: 0.75rem;
    font-weight: 400;
}

.carousel-control-prev {
    margin-left: 12rem;
}

.carousel-control-next {
    margin-right: 12rem;
}

.contact-h1 {
    font-family: 'Iceberg', cursive;
    color: var(--terciary-green);
    font-weight: 400;
    font-size: 4rem;
}

.div-main-contact {
    width: 100%;
}

.contact-h1 {
    margin-top: 3rem;
}

.main-contact {
    height: 23rem;
    margin-bottom: 14.5rem;
}

.icons-contact {
    width: 7rem;
}