/* FONTS */
/* 
font-family: 'Expletus Sans', cursive;
font-family: 'Familjen Grotesk', sans-serif;
font-family: 'Fira Code', monospace;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Iceberg', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Jost', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Familjen+Grotesk:wght@400;500;600;700&family=Fira+Code:wght@400;500;600;700&family=Fira+Sans+Condensed:wght@400;500;600;700&family=Fjalla+One&family=Iceberg&family=Inter:wght@300;400;500;600;700&family=Jost:wght@400;500;600;700&display=swap');

/* Colors */
:root{
    --dark: #000000;
    --dark-grey: #20252A;
    --primary-green: #38BC7C;
    --secondary-green: #2B7D56;
    --terciary-green: #005F1D;
    --light: #FFFFFF;
}
/* Body */
body{
    height: fit-content;
}

main {
    margin-top: 3rem;
}

/* Header */
header{
    font-family: 'Expletus Sans', cursive;
    font-size: 1.75rem;  
    background-color: var(--dark-grey);
    justify-content: space-around;
}

header .button-container a{
    font-size: 1.5rem;
    background-color: var(--secondary-green);
}

/* Main Landing Page*/
main h1{
    font-family: 'Iceberg', cursive;
    color: var(--terciary-green);
    font-weight: 400;
    font-size: 4rem;
    margin-top: 15px;
    margin-bottom: 0;
}

#sub-titulo{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 2.6rem;
    color: var(--dark);
}

#coluna-texto1{
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 2rem;
}

#coluna-texto2{
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-right: 2rem;
}

#button{
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    background-color: var(--secondary-green);
    color: var(--dark-grey);
    border: none;
    border-radius: 20px;
    margin-bottom: 1rem;
    box-shadow: 0px 5px 15px var(--dark-grey);
}

/* Main Services */
.card-container{
    width: 300px;
    border-radius: 20px;
}

.card-header-container{
    font-family: 'Expletus Sans', cursive;
    background-color: var(--dark);
    height: 100px;
    padding-top: 1rem;
    color: var(--light);
    border-top-right-radius: 30px ;
    border-top-left-radius: 40px;
}

/* .ul-nav, .sandwich-menu {
    display: none;
} */

.container-fluid, .navbar-toggle, .navbar-toggler-icon {
    display: none;
}

.nav-item {
    color: white;
} 

.card-corpo{
    font-family: 'Familjen Grotesk', sans-serif;
    background-color: var(--primary-green);
    height: 300px;
}

.card-footer-container{
    font-family: 'Fira Sans Condensed', sans-serif;
    height: 100px;
    background-color: var(--secondary-green);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.li{
    color: var(--dark);
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 1.3rem;
}

.li-pt {
    padding-top: 3rem;
}

.botao-container{
   font-family: 'Fira Sans Condensed', sans-serif;
   height: 40px;
   font-size: 1.7rem;
   background-color: var(--light);
   border-radius: 20px;
   color: var(--dark);
}

.card-inferior{
   width: 650px;
   font-family: 'Fira Sans Condensed', sans-serif;
   background-color: var(--primary-green);
   border-radius: 20px;
   color: var(--dark);
   margin-top: 1.5rem;
   margin-bottom: 0rem;
}

.index-footer {
    margin-top: 3rem;
}
/* Main Login */
.form-container-login {
    width: 500px;
    height: 430px;
    margin: 0 auto;
}

.form-container {
    width: 500px;
    height: 430px;
    margin: 0 auto;
}


.login{
    font-family: 'Fira Code', monospace;
    font-size: 1.7rem;
    color: var(--terciary-green);
}

.email{
    font-family: 'Fira Code', monospace;
    font-size: 1.2rem;
    width: 400px;
}

.senha{
    font-family: 'Fira Code', monospace;
    font-size: 1.2rem;
    width: 400px;
}

.recupera-senha{
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    color: var(--terciary-green);
    margin-bottom: 3rem;
}

.botao-login{
    font-family: 'Fira Code',  monospace;
    font-size: 1.5rem;
    background-color: var(--primary-green);
    box-shadow: 0px 5px 15px var(--dark-grey);
    width: 200px;
    margin-left: 140px;
}

/* Main Recovery */
.form-senha{
    width: 500px;
    height: 430px;
    margin: 0 auto;
}
.legenda{
    font-family: 'Fira Code', monospace;
    font-size: 1.7rem;
    width: 500px;
    color: var(--terciary-green);
}

.texto-container{
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    width: 330px;
    margin-left: 85px;
}

.email-recovery{
    font-family: 'Fira Code', monospace;
    width: 400px;
}

.botao-recovery{
    width: 200px;
    height: 46.51px;
}

.texto-inferior-recovery{
    font-family: 'Fira Code', monospace;
}

.login-ancora{
    color: var(--primary-green);
}

.login-ancora:hover{
    color: var(--secondary-green);
}

/* Footer */
footer{
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Inter', sans-serif;
    margin-top: 5.37rem;
}

footer .image-container{
    border-right: 1px solid var(--light);
}

footer p{
    font-size: 0.87rem;
    font-weight: 500;
}

footer span{
    font-size: 0.75rem;
    font-weight: 400;
}

.carousel-control-prev {
    margin-left: 12rem;
}

.carousel-control-next {
    margin-right: 12rem;
}

.contact-h1 {
    font-family: 'Iceberg', cursive;
    color: var(--terciary-green);
    font-weight: 400;
    font-size: 4rem;
}

.div-main-contact {
    width: 100%;
}

.contact-h1 {
    margin-top: 3rem;
}

.main-contact {
    height: 23rem;
    margin-bottom: 12rem;
}

.icons-contact {
    width: 7rem;
}

.div-form {
    margin-bottom: 11rem;
    padding-top: 8rem;
}

.form-signup {
    margin-top: 4rem;
    width: 50rem;
    height: 35rem;
    margin-bottom: 7rem;
    padding-left: 4rem;
}

.div-rg{
    margin-left: 3.9rem;
}

.button-cep {
    margin-right: 1.5rem;
    font-family: 'Fira Code',  monospace;
    font-size: 1rem;
    color: white;
    background-color: var(--dark);
    
}

.signup-element {
    padding: 0.5rem;
}

.section-form {
    justify-content: center;
}

.botao-signup{
    font-family: 'Fira Code',  monospace;
    font-size: 1.5rem;
    background-color: var(--primary-green);
    box-shadow: 0px 5px 15px var(--dark-grey);
    width: 200px;
    margin-right: 5rem;
}

.input-signup {
    font-family: 'Fira Code',  monospace;
    height: 2.4rem;
    padding: 1rem;
}

.legenda-signup {
    padding-right: 4rem;
}

@media only screen and (max-width: 1366px) {
    .carousel-control-prev {
        margin-left: 8rem;
    }
    .carousel-control-next {
        margin-right: 8rem;
    }
    body {
        width: 1366px;
    }
    .footer-contact {
        margin-top: 0rem;
    }
    .main-contact {
        margin-top: 10px;
        margin-bottom: 62px;
    }
    .div-form {
        margin-bottom: 0rem;
        padding-top: 3.5rem;
    }
    .card-header-container {
        width: 250px;
        height: 60px;
        font-size: 14px;
        padding-top: 0.2rem;
    }
    .card-header-container h2 {
        font-size: 20px;
    }
    .card-corpo {
        width: 250px;
        height: 250px;
    }
    ul .li {
        font-size: 18px;
    }
    .li-pt {
        padding-top: 1rem;
    }
    .card-footer-container {
        width: 250px;
        height: 83.3px;
    }
    .footer-services {
        margin-top: 0rem;
    }
    .card-inferior {
        margin-top: 0rem;
        margin-bottom: 1.2rem;
    }
    .form-signin {
        width: 400px;
        height: 400px;
    }
    .form-signin input {
        width: 300px;
    }
    .form-signin button {
        margin: auto auto 0;
    }
    .recupera-senha {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 1024px) {
    .footer-signup {
        margin-top: 10rem;
    }
    .form-signup {
        margin-top: 6rem;
    }
    .footer-signin {
        margin-top: 15rem;
    }
    .div-signin {
        margin-top: 8rem;
    }
    .card-inferior {
        margin-top: 6rem;
        margin-bottom: 6.3rem;
    }
    .main-services {
        margin-top: 8rem;
    }
    .div-recovery {
        margin-top: 8rem;
        margin-bottom: 13rem;
    }
    .contact-h1 {
        margin-top: 12rem;
    }
    .main-contact {
        margin-bottom: 11rem;
    }
    .index-footer {
        margin-top: 5.3rem;
    }
}

@media only screen and (max-width: 768px) { 
    .carousel-slide {
        display: none;
    }
    .normal-menu {
        display: none;
    }
    .container-fluid, .navbar-toggle, .navbar-toggler-icon {
        display: block;
    }
    
    .container-fluid {
        margin: 0;
    }

    .maxWidth {
        max-width: 100px;
        margin-left: 0;
        margin-right: 0;
     }
     #menuQuali {
         padding-left: 2rem;
     }
    .button-container, .section-logo {
        padding-left: 6rem;
        margin-left: 6rem;
    }
    
    #coluna-texto1 {
        font-size: 48px;
        padding-top: 12rem;
    }
    #coluna-texto2 {
        font-size: 48px;
        padding-top: 30rem;
    }
    .button-classe {
        margin-top: 14rem;
        margin-bottom: 10rem;
    }
    .div-main-contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-contact {
        margin-top: 20rem;
    }
    .contatos {
        margin-top: 10rem;
    }
    .main-contact {
        height: 100%;
    }
    .img-contato {
        width: 200px;
        height: 200px;
    }
    .icons-contact {
        margin-left: 45px;
    }
    .div-recovery {
        margin-top: 10rem;
        margin-bottom: 15rem;
    }
    .main-services {
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-container {
        margin-top: 5rem;
    }
    .div-signin {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .body {
        width: 100%;
    }
    .form-container {
        width: 98%;
        margin-bottom: 11rem;
    }

}